
<section class="divider" id="font" >
  <h3>El stack que tengo actualmente creo que me brinda todas las herramientas necesarias para desarrollar y tener un panorama
    general de todas las tecnológicas y sus aplicaciones pasando desde el front al back donde me siento más cómodo  </h3>
</section>
<br>
<h1 id="titulo">Mi Educacion</h1>
<br>
<section style="align-items: center;" >
  <div class="row" >
    <app-button-add *ngIf="isLogged" (click)="crearEdu()" ></app-button-add>

    <mat-card class="example-card" style="margin-left:30%; margin-right: 30%;" *ngFor="let Edu of edu">
      <mat-card-title>{{Edu.nombreEdu}}</mat-card-title>
      <mat-card-content>
        <p>{{Edu.descripcionEdu}}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <app-button-edit *ngIf="isLogged" (click)="modifcarEdu(Edu)"></app-button-edit>
        <app-button-delete *ngIf="isLogged" (click)="delete(Edu.id)"></app-button-delete>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    

  </div>




</section>

 <!-- 
<section style="color:aliceblue">
  <div class="botonico">
  </div>
  <div class="row">
    <div class="tituloleft" style="  font-family: 'Julius Sans One';
   ">
      <h1>Educacion Formal</h1>
    </div>
    <div class="titulolright" style="   font-family: 'Julius Sans One';
  ">
      <h1>Cursos Extras</h1>
    </div>
  -->

    <!-- Columnas Derecha
    <div class="columnright">
      <mat-card class="example-card" *ngFor="let curs of cursos">
        <mat-card-title-group>
          <mat-card-title>{{curs.institucion}}
          </mat-card-title>
          <mat-card-subtitle>{{curs.titulo}}

          </mat-card-subtitle>
          <mat-card-subtitle>{{curs.FechaInicio }} // {{curs.FechaFinal}}

          </mat-card-subtitle>
          <img mat-card-sm-image src="./assets/img2/kkkk.png">
        </mat-card-title-group>
      </mat-card>
    </div>
    -->
  <!-- Columnas Izquierda-->
  <!--
  <section>

    <h1>{{isLogged}}</h1>  
    <div class="columnleft">
      <mat-card class="example-card" *ngFor="let Edu of edu">
        <mat-card-title-group>
          <mat-card-title>{{Edu.nombreEdu}}
          </mat-card-title>
          <mat-card-subtitle>{{Edu.descripcionEdu}}

          </mat-card-subtitle>


          <img mat-card-sm-image src="./assets/img2/kkkk.png">
          <mat-card-subtitle>
          <div >
            
           </div>
          </mat-card-subtitle>
        </mat-card-title-group>
        <app-button-edit *ngIf="isLogged" (click)="modifcarEdu(Edu)"></app-button-edit>
        <app-button-delete *ngIf="isLogged" ><i class="bi bi-archive"></i></app-button-delete>
      </mat-card>


    </div>




</section>

-->





