.contenedor {
  border: 2px solid #FFC700;
  border-radius: 25px;
  padding: 20px 30px 20px 30px;
  align-items: center;
}

.divider {
  
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;

}

.asd{
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.035em;
  color: #F5F5F5;
  float: left;
  margin-top: 0.8%;
}

.asd2{
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.035em;

  color: #F5F5F5;


  filter: blur(2px);
}
.asd1{
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.055em;
  color: #FFC700;
  float: center;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}



* {
  box-sizing: border-box;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #ffc700;
}


/* Create two equal columns that floats next to each other */
.columnleft {
  float: left;
  width: 50%;
  padding: 10px;
  



}
.columnright {
  float: right;
  width: 50%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1{
  text-align: center;
}
.tituloleft {
  float: left;
  width: 50%;

}

.titulolright {
  float: right;
  width: 50%;
  text-decoration: underline 1px  rgba(43, 47, 42, 0.58);
}

p {
  font-family: "Julius Sans One";
  font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}