
<div class="divider">
HOLAA
  <div class="card">
    <div>
      <div >
          <div class="row" *ngFor="let Body of body">
            <div class="col-sm-6">
              <h1>Sobre mi:</h1>
              <p class="lead">{{Body.sobreMi}}</p>
              <button class="btn btn-dark" *ngIf="isLogged" (click)="modificarBody(Body)"><i class="bi bi-pen"></i></button>
            </div>
            <div class="avatar">
              <img src="{{Body.url_Foto}}"   style="border-radius: 1000px;" 
              class="avatar" width="1000" height="700"  loading="lazy">
            </div>
        </div>
      </div>
            <app-button-add type="submit"  (click)="crearBody()"></app-button-add>
    </div>
  </div>
</div>

