.contenedor {
  border: 2px solid #FFC700;
  border-radius: 25px;
  padding: 20px 30px 20px 30px;
  align-items: center;
}

.divider {
  border-top: 1px solid #FFC700;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;

}
