<div class="divider">
  <h1 id="titulo" >Mis Experiencias</h1>
</div>
<app-button-add  (click)="crearExp()" *ngIf="isLogged" label="Añadir"></app-button-add>

<div class="container">
  <mat-card class="example-card" *ngFor="let Experiencia of expe ">
    <mat-card-title>{{Experiencia.nombreExp}}</mat-card-title>

    <mat-card-subtitle>{{Experiencia.descripcionExp}}</mat-card-subtitle>
    <mat-card-content>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
         Reiciendis iste possimus, suscipit voluptate odit a inventore autem at vel quaerat nemo,
          eum aspernatur recusandae veritatis, dolor libero dolores facilis quibusdam..
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus repellat, dolorum et,
        explicabo architecto deserunt officiis error corrupti saepe magni quos accusamus cumque id
        deleniti consequatur excepturi fuga expedita inventore?
      </p>
      <div>
                    <app-button-edit (click)="modificarExp(Experiencia)" *ngIf="isLogged"></app-button-edit>
                    <app-button-delete (click)="delete(Experiencia.id)" *ngIf="isLogged"></app-button-delete>
                </div>
    </mat-card-content>

  </mat-card>
</div>

